.container {
  width: 80% !important;
}

header {
  background-color: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  color: #4988e2;
}
header .container a {
  text-decoration: none;
  margin-right: 10px;
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
header .container a:hover {
  color: #4988e2;
}
header .container a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #4988e2;
  transition: 0.3s;
}
header .container a:hover::before {
  width: 100%;
}

.banner {
  background-image: url(../img/image/product-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner .infor h2 {
  color: #4988e2;
}
.banner .infor h3 {
  color: #1d365e;
}
.banner .infor .btn-infor,
.banner .infor .btn-shop {
  padding: 15px 45px;
  border-radius: 8px;
  font-size: 14px;
}
.banner .infor .btn-infor {
  border: 2px solid #4988e2;
  color: #4988e2;
  background-color: #f5f9fe;
}
.banner .infor .btn-infor:hover {
  background-color: #4988e2;
  color: #e2ebfc;
}
.banner .infor .btn-shop {
  color: #fff;
  background: linear-gradient(120deg, #3981e3, #4988e2);
  padding: 17px 51px;
  border-radius: 8px;
  font-size: 14px;
}
.banner .infor .btn-shop:hover {
  opacity: 0.75;
}

.product {
  background-color: #f5f9fe;
  padding: 80px 0;
}
.product .title {
  text-align: center;
  color: #1d365e;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}
.product .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  padding: 30px;
}
.product .list .item .wrapper img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}/*# sourceMappingURL=index.css.map */