// variable
$color-blue-1: #4988e2;
$color-blue-2: #1d365e;
$color-blue-3: #3981e3;
//white : background
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
.container {
    width: 80% !important;
}

// mixin
@mixin btn-theme($base) {
    padding: $base $base * 3;
    border-radius: 8px;
    font-size: 14px;
}

@mixin shadow-theme($base) {
    box-shadow: $base * 1px $base * 1px $base * 2px $color-white-2, $base * -1px $base * -1px $base * 2px $color-white-3;
}

header {
    background-color: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            color: $color-blue-1;
        }
        a {
            text-decoration: none;
            margin-right: 10px;
            color: $color-blue-2;
            transition: 0.3s;
            position: relative;
            &:hover {
                color: $color-blue-1;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 0%;
                height: 2px;
                background-color: $color-blue-1;
                transition: 0.3s;
            }
            &:hover::before {
                width: 100%;
                // transform: translateX(-50%);
            }
        }
    }
}

.banner {
    background-image: url(../img/image/product-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .infor {
        h2 {
            color: $color-blue-1;
        }
        h3 {
            color: $color-blue-2;
        }
        .btn-infor,
        .btn-shop {
            @include btn-theme(15px);
        }
        .btn-infor {
            border: 2px solid $color-blue-1;
            color: $color-blue-1;
            background-color: $color-white-1;
            &:hover {
                background-color: $color-blue-1;
                color: $color-white-2;
            }
        }
        .btn-shop {
            color: $color-white-3;
            background: linear-gradient(120deg, $color-blue-3, $color-blue-1);
            // border: 2px solid;
            @include btn-theme(17px);
            &:hover {
                opacity: 0.75;
            }
        }
    }
}

.product {
    background-color: $color-white-1;
    padding: 80px 0;
    .title {
        text-align: center;
        color: $color-blue-2;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .list {
        .item {
            @include shadow-theme(6);
            border-radius: 8px;
            padding: 30px;
            .wrapper {
                img {
                    @include shadow-theme(6);
                    border-radius: 8px;
                }
            }
        }
    }
}